.post {
  .wp-block-embed {
    @apply mb-4;

    iframe {
      @apply w-full;
      height: 400px;
      @apply mb-2;
    }
  }

  .has-text-align-center {
    @apply text-center;
  }

  .wp-block-image {
    @apply mb-8;

    figcaption {
      @apply italic opacity-50 mt-1;
    }
  }

  .wp-block-audio {
    @apply mb-4;

    audio {
      @apply w-full;
      @apply mb-2;
    }
  }

  .wp-block-file {
    display: grid;
    grid-template-columns: auto min-content;
    @apply mb-4;

    a:first-child {
      @apply py-3 px-5 font-bold;
      background-color: #f7f7f7;
    }

    a:last-child {
      @apply py-3 px-6 font-bold;
      background-color: #222;
      color: white;
    }
  }

  .wp-block-separator {
    @apply w-24 mx-auto my-16;
  }

  .wp-block-columns {
    @apply flex flex-col sm:flex-row gap-8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4 font-bold;
  }

  p {
    @apply mb-4;
  }

  p,
  figcaption {
    @apply font-light;
    line-height: 28px;
  }

  a {
    word-break: break-word;
  }
}

.dark {
  .wp-block-file {
    a:first-child {
      background-color: #2f2f2f;
    }

    a:last-child {
      background-color: white;
      color: black;
    }
  }
}
