.post {
  .wp-block-embed {
    @apply mb-4;

    iframe {
      @apply w-full;
      height: 400px;
      @apply mb-2;
    }
  }

  .has-text-align-center {
    @apply text-center;
  }

  .wp-block-image {
    @apply mb-8 mt-12;

    figcaption {
      @apply italic opacity-50 mt-1;
    }

    .aligncenter {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.alignwide {
      margin-left: -64px;
      margin-right: -64px;
      text-align: center;

      @media (max-width: 600px) {
        margin-left: -32px;
        margin-right: -32px;
      }

      img {
        object-fit: cover;
        max-height: 350px;

        @media (max-width: 600px) {
          max-height: 280px;
        }

        @media (max-width: 400px) {
          max-height: 250px;
        }
      }
    }
  }

  .wp-block-audio {
    @apply mb-4;

    audio {
      @apply w-full;
      @apply mb-2;
    }
  }

  .wp-block-file {
    display: grid;
    grid-template-columns: 1fr auto;
    @apply mb-4;

    a:first-child {
      @apply py-3 px-5 font-bold;
      background-color: #f7f7f7;
    }

    a:last-child {
      @apply py-3 px-6 font-bold;
      background-color: #222;
      color: white;
    }
  }

  .wp-block-separator {
    @apply w-24 mx-auto my-16;
  }

  .wp-block-columns {
    @apply flex flex-col sm:flex-row gap-8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4 mt-10 font-bold;
  }

  p {
    @apply mb-4;

    &.first {
      margin-top: 60px;
    }
  }

  p,
  figcaption {
    @apply font-light;
    line-height: 28px;
  }

  a {
    word-break: break-word;
  }

  .wp-block-quote {
    margin: 115px 25px 60px;

    p {
      z-index: 10;
      position: relative;
      font-family: 'Playfair Display';
      letter-spacing: 0.2px;
      font-size: 20px;
      font-style: italic;

      &::before {
        z-index: 1;
        content: '“';
        position: absolute;
        top: 65px;
        left: -140px;
        font-size: 500px;
        opacity: 0.05;
      }
    }

    cite {
      font-weight: bolder;
    }
  }
}

.dark {
  .wp-block-file {
    a:first-child {
      background-color: #2f2f2f;
    }

    a:last-child {
      background-color: white;
      color: black;
    }
  }
}
